<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>

            <h1>{{todo_object.name}}</h1>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
            </p>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
                {% for task in items %}
                <tr>
                    <td> <a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a></td>
                    <td>{{task.due_date}}</td>
                {% endfor %}
                </tr>
            </table>
        </div>
    </main>

</body>
</html>
